<div id="wrapper" class="toggled">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a [routerLink]="'/admin-dash/admin-home'">MENU </a>
      </li>

      <li>
        <a [routerLink]="'/admin-dash/admin-home'">Dashboard</a>
      </li>
      <li>
        <a [routerLink]="'/admin-dash/add-dept'">Add Department</a>
      </li>
      <!-- <li>
        <a [routerLink]="'/admin-dash/remove-dept'">Remove Department</a>
      </li> -->
      <li>
        <a [routerLink]="'/admin-dash/view-dept'">View Department</a>
      </li>
      <li>
        <a [routerLink]="'/admin-dash/view-citizen'">View Citizen</a>
      </li>
      <li>
        <a [routerLink]="'/admin-dash/view-complaint'">View Complains</a>
      </li>
      <li>
        <a [routerLink]="'/admin-dash/block-user'">Block Users</a>
      </li>
      <li>
        <a [routerLink]="'/admin-dash/feedback'">View Feedback</a>
      </li>
    </ul>
  </div>
</div>
