// #department {
//   color: #000;
//   overflow-x: hidden;
//   height: 100%;
//   background-image: linear-gradient(to right, #d500f9, #ffd54f);
//   background-repeat: no-repeat;

//   // margin-top: 10px;
//   // padding: 0;
//   // background-color: #17a2b8;
//   // height: 90vh;
// }

.department-box {
  max-width: 900px;
  height: 900px;
}
#department .container #department-row #department-column #department-box {
  margin-top: 80px;
  max-width: 600px;

  height: 600px;
  // border: 1px solid #9c9c9c;
  // background-color: #eaeaea;
}
// #department
//   .container
//   #department-row
//   #department-column
//   #department-box
//   #department-form {
//   padding: 20px;
// }
// #department
//   .container
//   #department-row
//   #department-column
//   #department-box
//   #department-form {
//   margin-top: 10px;
// }
