<div id="wrapper" class="toggled">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a [routerLink]="'/citizen-dash'">MENU </a>
        </li>
  
        <li>
          <a [routerLink]="'/citizen-dash/citizen-home'">Dashboard</a>
        </li>
        <li>
          <a [routerLink]="'/citizen-dash/make-complain'">Make Complain</a>
        </li>
        <li>
          <a [routerLink]="'/citizen-dash/view-complain-status'">View Complain Status</a>
        </li>
        <li>
          <a [routerLink]="'/citizen-dash/send-reminder'">Send Reminder</a>
        </li>
        <li>
          <a [routerLink]="'/citizen-dash/view-public-complains'">View Public Complains</a>
        </li>
        <li>
          <a [routerLink]="'/citizen-dash/change-password'">Change Password</a>
        </li>
        <li>
          <a [routerLink]="'/citizen-dash/citizen-feedback'">Add Feedback</a>
        </li>
      </ul>
    </div>
  </div>
  
