<div id="wrapper" class="toggled">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a >MENU </a>
        </li>
  
        <li>
          <a routerLink="department-home">Dashboard</a>
        </li>
        <li>
          <a routerLink="department-complaints-active/ACTIVE">View Complaints</a>
        </li>
         <li>
          <a routerLink="department-complaints-reminder/REMINDER">Reminder Complaints</a>
        </li>
        <li>
          <a routerLink="department-complaints-closed/CLOSED">Resolved Complaints</a>
        </li>
        <li>
          <a routerLink="department-report">Report</a>
        </li>
        <li>
          <a routerLink="department-change-password">Change Password</a>
        </li>
         <li>
          <a routerLink="department-feedback">Add Feedback</a>
        </li>
      </ul>
    </div>
    
  </div>
  