#main {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-image: linear-gradient(to right, #d500f9, #ffd54f);
  background-repeat: no-repeat;
}
div {
  height: 600px;
  text-align: center;
}
