<div id="complain">
    <div class="container">
      <div
        id="complain-row"
        class="row justify-content-center align-items-center"
      >
        <div id="complain-column" class="col-md-6">
          <div id="complain-box" class="col-md-12">
            <form  #addDepartment="ngForm" class="form pt-5" [formGroup]="exform"  >
                <h2 class="text-center text-info text-dark">Change Password</h2>
                

                <div class="form-group">
                    <label for="department" class="text-info text-dark"
                      >Enter Your Email</label
                    ><br />
                    <input required [(ngModel)]="email"   formControlName="email" placeholder="email"  class="form-control" id="email" name="email"  >
                    <span
                    class="text-danger"
                    *ngIf="
                      exform.get('email').invalid && exform.get('email').touched
                    "
                    >Please Enter Valid Email </span
                  >
                </div>
                
                <div class="form-group">
                    <label for="department" class="text-info text-dark">
                        Enter Your Password</label>
                    <br />
                       <input  [(ngModel)]="password"   formControlName="password" type="password" placeholder="password" name="password" class="form-control" id="password" required>
                       <span
                       class="text-danger"
                       *ngIf="
                         exform.get('password').invalid &&
                         exform.get('password').touched
                       "
                       >Password should be between 5 to 12 words</span
                     >
                      </div>
                 <div class="form-group">
                    <label for="department" class="text-info text-dark">
                        Enter Your New Password</label>
                    <br />
                       <input  type="password"  [(ngModel)]="newPassword"   formControlName="newPassword" placeholder="newPassword" name="newPassword" class="form-control" id="newPassword" required>
                       <span
                       class="text-danger"
                       *ngIf="
                         exform.get('newPassword').invalid &&
                         exform.get('newPassword').touched
                       "
                       >Password should be between 5 to 12 words</span
                     >
                      </div> 

                <div class="form-group text-center">
                    <br />
                    <button
                      type="button"
                      ng-model="myVar"
                      class="btn btn-outline-secondary"
                     (click)="changePassword(addDepartment.value,newPassword)"
                     [disabled]="exform.invalid"
                    >
                     Submit
                    </button>
                  </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div> 

