<div id="main">
 
  <form #registerForm="ngForm" [formGroup]="exform">
    <div class="container px-4 py-5 mx-auto">
      <div class="card card0">
        <div class="d-flex flex-lg-row flex-column-reverse">
          <div class="card card1">
            <div class="row justify-content-center my-auto">
              <div class="col-md-8 col-10 my-5">
                <h3 class="mb-5 text-center heading">Register Here</h3>
               
                <div class="form-group">
                  <label class="form-control-label text-muted"
                    >Username :</label
                  >
                  <input
                    type="text"
                    name="username"
                    formControlName="namef"
                    ngModel
                    placeholder="Username"
                    class="form-control"
                    required
                  />
                  <span
                    class="text-danger"
                    *ngIf="
                      exform.get('namef').invalid && exform.get('namef').touched
                    "
                    >username required</span
                  >
                </div>
                <div class="form-group">
                  <label class="form-control-label text-muted">Email :</label>
                  <input
                    type="text"
                    name="email"
                    formControlName="emailf"
                    ngModel
                    placeholder="Email"
                    class="form-control"
                    required
                  />
                  <span
                    class="text-danger"
                    *ngIf="
                      exform.get('emailf').invalid &&
                      exform.get('emailf').touched
                    "
                    >Proper email Required</span
                  >
                </div>
                <div class="form-group">
                  <label class="form-control-label text-muted"
                    >Password :</label
                  >
                  <input
                    type="password"
                    name="password"
                    formControlName="passwordf"
                    ngModel
                    placeholder="Password"
                    class="form-control"
                    required
                  />
                  <span
                    class="text-danger"
                    *ngIf="
                      exform.get('passwordf').invalid &&
                      exform.get('passwordf').touched
                    "
                    >Password should be between 5 to 12 words</span
                  >
                </div>

                <div class="form-group">
                  <label class="form-control-label text-muted">
                    Confirm Password :</label
                  >
                  <input
                    type="password"
                    name="confirmpassword"
                    formControlName="confirmpasswordf"
                    ngModel
                    placeholder="Confirm Password"
                    class="form-control"
                    required
                  />
                  <span
                   class="text-danger"  
                   *ngIf="exform.get('passwordf').value != exform.get('confirmpasswordf').value || exform.get('confirmpasswordf.touched')" >confirm password and password must be same
                  </span> 
                </div>
               
                
                <div class="row justify-content-center my-3 px-3">
                  <button
                    class="btn-block btn-color"
                    [disabled]="!exform.invalid"
                   
                    (click)="getData(exform.value)"
                  >
                    Register
                  </button>
                </div>

                
              </div>
            </div>
            <div>
              <p>
                If, already have an Account<button
                  class="btn btn-white ml-2"
                  [routerLink]="'/login'"
                >
                  Login
                </button>
              </p>
            </div>
          </div>
          <div class="card card2">
            <div class="my-auto mx-md-5 px-md-5 right">
              <h3 class="text-white">We are here to help you.</h3>
              <small class="text-white"
                >It is our duty to help our beloved citizens of this country.
                This site is for you and the inconvinence you are facing . You
                can complaint about the problem you are facing and we will try
                our best to solve it asap. Thank you.</small
              >
            </div>
          </div>
       
        </div>
      </div>
    </div>
  </form>

</div>
