<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <h2 style="color: azure">
      <a class="text-decoration-none" [routerLink]="''">
        <code>Grievance Management System</code>
      </a>
    </h2>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="btn btn-dark" mat-icon-button [routerLink]="''">
          Home
        </button>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link active" href="#">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">About Us</a>
      </li> -->

      <li class="nav-item">
        <!-- *ngIf="!loggedIn()" -->
        <button class="btn btn-dark ml-3" type="button" [routerLink]="'/login'">
          Login
        </button>
      </li>
      <li class="nav-item">
        <!-- *ngIf="!loggedIn()" -->
        <button
          class="btn btn-dark ml-3"
          type="button"
          [routerLink]="'/register'"
        >
          Register
        </button>
      </li>

      <!-- <li class="nav-item">
        <button *ngIf="loggedIn()" class="btn ml-2" type="button">
          {{ currentUser }}
        </button>
      </li> -->

      <li class="nav-item">
        <!-- *ngIf="!loggedIn()" -->
        <button
          class="btn btn-dark ml-3"
          type="button"
          routerLink="''"
          (click)="onLogout()"
        >
          Logout
        </button>
      </li>
    </ul>
  </div>
</nav>
